body {
    font-family: Arial, sans-serif;
   background-color: #000; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* color: #822d2d; */
    font-size: 4em;
}


main {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 600px;
    
}

h3{
    color: #760505;
    margin:auto;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

.button{
    background-color: #760505;
    color: #fff;
    border: none;
    padding: 10px;
    width: 50%;
    cursor: pointer;
}

.error{
    color: red;
    font-size: 0.6em;
    margin: auto;
}

.success{
    color: green;
    font-size: 0.6em;

}

.login{
    color: #1c60dd;
    font-size: 0.4em;
}